<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>

    <!--扫描间隔(单位：秒)-->
    <add key="timeinterval" value="100" />
    <!--!未知异常重启时间(单位:秒)-->
    <add key="excptionresettime" value="60" />
    <add key="selectfolder" value="其他文件夹/ticket-reply"/>
    <add key="InPOP.Host" value="imap.exmail.qq.com" />
    <add key="InPOP.Port" value="143 " />
    <add key="InPOP.SSL" value="false" />
    <add key="Mail.Username" value="system@membrane-solutions.com" />
    <add key="Mail.Password" value="hellokittyR2" />
    <!--<add key="Imap.Host" value="imap.exmail.qq.com"/>
    <add key="Imap.Port" value="143"/>
    <add key="Imap.SSL" value="false"/>-->
    
  </appSettings>
<connectionStrings><add name="MembraneEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db;user id=charlie;password=hellokitty8597;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>